.section-main .container{
   /* background-image: url(../images/banner1.jpg); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    color: black;
    padding-bottom: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2em 0;
    
}
.section-main{
    background-image: url(../images/banner\ orange.jpg);
    background-size: cover;
    background-position: center 0.1em;
    background-repeat: no-repeat;
}

.section-main .container p{
    max-width: 100ch;
    text-align: center;
    padding: 1em 0;

    
} 
.Info{
    padding-left: 10em;
}
.Info h1{
    font-size: 3.5em;
    font-weight: 600;
    padding-bottom: 0.5em;
    color: black;
}
.Info p {
    color: black;
    font-weight: 600;
    font-size: 1.3em;
    
}
.photo{
    margin: 4em;
}
.photo img{
    max-width: 300px;
    height: auto;
    aspect-ratio: 1/1;
    
    border-radius: 50%;
    padding: 1em;
}
 .button{
    
    background-color: red;
    display: inline-block;
    padding: 1em 2em;
    margin: 1.5em;
    border-radius: 0.5em;
}

.button a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}
.button:hover,
.button:hover a{
    background-color: white;
    color: black;
    transition: 0.5s;
}  