*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,span,a,p{
    color: #C47A23;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body,nav,ul,li,a{
    font:inherit;
}